<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Login</title>

    <!-- Bootstrap core CSS-->

    <!-- Custom fonts for this template-->

    <!-- Custom styles for this template-->

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form id="login-form" method="post" action="{% url "riegoApp:login"  %}">
              {% csrf_token %}
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" class="form-control" aria-describedby="emailHelp" name="username" autofocus="" maxlength="254" required="" id="id_username" placeholder="Nombre de usuario">
                <label for="id_username">Username</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                  <input type="password" class="form-control" placeholder="Contraseña" name="password" required="" id="id_password">
                <label for="id_password">Password</label>
              </div>
            </div>
            {% if form.errors %}
                <p class=" label label-danger">
                    El usuario y/o la contraseña no coinciden.
                    Intentelo nuevamente
                </p>
              {% endif %}
            <button class="btn btn-primary btn-block">Login</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->

    <!-- Core plugin JavaScript-->



        <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  </body>

</html>
