
<canvas id="chart" ></canvas>

{% block javascript %}
{% load static %}
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<script>

    // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';

// Area Chart Example
var ctx = document.getElementById("chart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: [

        {% if tipo == '0' %}
            {% for d in detalle %}
                '{{d.date|date:"Y"}}',
            {% endfor %}

        {% else %}

            {% for d in detalle %}
                '{{d.date|date:"M"}}',
            {% endfor %}
        {% endif %}
    ],
    datasets: [{
      label: "Humedad",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      data: [
        {% for d in detalle %}
          '{{d.humedad}}',
        {% endfor %}
      ],
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 100,
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});


</script>
{% endblock javascript %}