{% extends "base.html" %}

{% block style %}
      
<style>
    iframe#someFrame{
        border-width: 0px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
        margin-top: -20px;
    }

    .hidden {
        display: none;
    }
</style>
  {% endblock style %}

{% block content %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url "riegoApp:index" %}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Blank Page</li>
</ol>

<div class="card mb3">
    <div class="card-header">
        <i class="fas fa-info"></i>
        
    </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-chart-area"></i>
    Grafica de humendad del distrito de {{distrito}}</div>
  <div class="card-body">
      <label for="exampleFormControlSelect1">Filtrar por: </label>
      <select class="form-control" id="filtro">
          <option value="0">Fecha</option>
          <option value="1">Ambiente</option>
      </select>

      <label for="exampleFormControlSelect1">Ver Grafico por: </label>
      <select class="form-control" id="tipo">
          <option value="0">Años</option>
          <option value="1">Ultimo año</option>
      </select>

      <div class="sensor hidden">

          <label for="exampleFormControlSelect1">Seleccionar Sensor </label>
          <select class="form-control" id="sensor">
              <option value="0">Años</option>
              <option value="1">Ultimo año</option>
          </select>
      </div>
      <br>
    <iframe name="someFrame" id="someFrame" height="550px" width="100%"></iframe>
    
    <button class="btn btn-primary btn-block" id="reporte">Descargar Reporte</button>
  </div>
    <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
</div>


  <div class="modal fade" id="reporte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Descargar reporte</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url "riegoApp:report"  %}">Descargar</a>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

{% block javascript %}

<script>
var url = '{% url 'riego:chart' %}' 
  $( document ).ready(function() {

    $.get(url,{filtro:0,tipo:0})
      .done(response => {
          document.getElementById("someFrame").html = response;
          $("#someFrame").attr("srcdoc", response);
      })

    

    $("#tipo").on('change', function () {        
        var b = $("#tipo option:selected").val()
        var f = $("#filtro option:selected").val()
        if (f == '0'){
            $.get(url,{tipo:b,filtro:f})
            .done(response => { 
                document.getElementById("someFrame").html = response;
                $("#someFrame"  ).attr("srcdoc", response);
            })
        }
        else{
            llenarSensores(b)
            $.get(url,{tipo:b,filtro:f,ambiente:b,sensor:'-1'})
            .done(response => { 
                document.getElementById("someFrame").html = response;
                $("#someFrame"  ).attr("srcdoc", response);
            })
        }
    });

  })

    $("#filtro").on('change',function(){
        var v = $("#filtro option:selected").val()
        llenarAmbientes(v)
    })

    $("#sensor").on('change',function(){
        var b = $("#tipo option:selected").val()
        var f = $("#filtro option:selected").val()
        var s = $("#sensor option:selected").val()

        $.get(url,{tipo:b,filtro:f,ambiente:b,sensor:s})
        .done(response => { 
            document.getElementById("someFrame").html = response;
            $("#someFrame"  ).attr("srcdoc", response);
        })

    })
    

    function llenarAmbientes(value){

        var url = '{% url 'riego:ambientes' %}'
        var Options
        let $el = $("#tipo");

        $el.empty(); // remove old options

        if (value == '0'){
            Options = {
                "Años": "0",
                "Ultimo Año": "1",
            };
            $.each(Options, function(key,value) {
                $el.append($("<option></option>")
                .attr("value", value).text(key));
            });
            $(".sensor").addClass('hidden')
        }else{
            $.get(url)
            .done(response => {
                $.each(response,function(index,value){
                    var desc = value.desc
                    var pk = value.pk
                    $el.append($('<option>', { 
                        value: pk,
                        text : desc
                    }));

                })

                $(".sensor").removeClass('hidden')
                var a = $("#tipo option").eq(0).val()
                llenarSensores(a)
            })
        }

    }


    function llenarSensores(a){

        var url = '{% url 'riego:sensores' %}'
        var Options
        let $sen = $("#sensor");

        $sen.empty(); // remove old options
        
        Options = {
            "Todos": "-1",
        };
        $.each(Options, function(key,value) {
            $sen.append($("<option></option>")
            .attr("value", value).text(key));
        });

        $.get(url, {ambiente:a})
        .done(response => {
            $.each(response,function(index,value){
                var desc = value.desc
                var pk = value.pk
                $sen.append($('<option>', { 
                    value: pk,
                    text : desc
                }));

            })
        })
    }

</script>


<script>


    $("#reporte").on('click',function(){
        reporte()
    })
    function reporte(){
        var url = "{% url 'riegoApp:report'  %}"
        var b = $("#tipo option:selected").val()
        var f = $("#filtro option:selected").val()
        var s = $("#sensor option:selected").val()

        $.get(url,{tipo:b,filtro:f,ambiente:b,sensor:s})
        .done(response => { 
            window.open(response,'_blank');
        })

    }

</script>

{% endblock javascript %}